# Docs for the Azure Web Apps Deploy action: https://github.com/Azure/webapps-deploy
# More GitHub Actions for Azure: https://github.com/Azure/actions

name: Build and deploy container app to Azure Web App - bsgxi

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    runs-on: 'ubuntu-latest'

    env:
      DATABASE_URL: ${{ secrets.DATABASE_URL }}

    steps:
    - uses: actions/checkout@v2

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v2

    - name: Log in to registry
      uses: docker/login-action@v2
      with:
        registry: https://bsgxicontainer.azurecr.io/
        username: ${{ secrets.AzureAppService_ContainerUsername_4877e766e240428dbe1a6dc646d63327 }}
        password: ${{ secrets.AzureAppService_ContainerPassword_fb189b5f7fa2438daedf44960706767c }}

    - name: Build and push container image to registry
      uses: docker/build-push-action@v3
      with:
        push: true
        tags: bsgxicontainer.azurecr.io/${{ secrets.AzureAppService_ContainerUsername_4877e766e240428dbe1a6dc646d63327 }}/bsg-xi:${{ github.sha }}
        file: ./Dockerfile
        build-args: |
          DATABASE_URL=mysql://fake:fake@localhost:3306/fake

  deploy:
    runs-on: ubuntu-latest
    needs: build
    environment:
      name: 'production'
      url: ${{ steps.deploy-to-webapp.outputs.webapp-url }}

    steps:
    - name: Deploy to Azure Web App
      id: deploy-to-webapp
      uses: azure/webapps-deploy@v2
      with:
        app-name: 'bsgxi'
        slot-name: 'production'
        publish-profile: ${{ secrets.AzureAppService_PublishProfile_8ded055b21ae4ee284bced948bd7191a }}
        images: 'bsgxicontainer.azurecr.io/${{ secrets.AzureAppService_ContainerUsername_4877e766e240428dbe1a6dc646d63327 }}/bsg-xi:${{ github.sha }}'
